<%- include('header.ejs') %>

<div id="Homepage">
    <h2>Welcome to Tchat App!</h2>
    <a href="/randomGc"><button>Random GC</button></a>
    <a href="/rooms"><button>Create Room</button></a>
</div>