
<%- include('header.ejs') %>

<div id="namesection" >

    <h2>Please enter your name to continue</h2>
    <input type="text" id="name" required="true" maxlength="8" placeholder="Enter your name" >
    <button onclick="setName()" >Submit</button>

</div>
<div id="chatBox">



</div>
<div class="sendSection">
    <input id="msgInput" placeholder="Send message" type="text">
    <button onclick="sendMsg()" >Send</button>
</div>



</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/randomchat.js"></script>
</html>
